# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archives
*.zip
*.tar
*.gz
*.rar

# IDE/editor files
.vscode/
.idea/
.DS_Store

# database files
*.db

